progress {
  background-color: #ffc700;
  border-radius: 20px;
}
progress::-webkit-progress-bar {
  background-color: #ffc700;
  border-radius: 20px;
}
progress::-webkit-progress-value {
  background-color: #d9d9d9;
  border-radius: 20px;
}
progress::-moz-progress-bar {
  border-radius: 20px;
}
.leaflet-container {
  @apply h-[200px] min-w-full max-w-full sm:min-w-full md:min-w-full rounded-xl;
}
